html, body {
    box-sizing: border-box;
}

.sqr-main {
    width: 1000px;
    height: 1000px;
}

.sqr1 {
    background-color: green;
    width: 100%;
    height: 50%;
    display: flex;
}

.sqr2 {
    background-color: green;
    width: 100%;
    height: 50%;
    display: flex;
}

.sqr-yellow {
    width: 40%;
    height: 95%;
    margin: 6px;
    background-color: yellow;
    display: flex;
}

.sqr-blue {
    width: 150px;
    height:150px;
    background-color: darkblue;
    margin: 10px;
}

.border {
    border: .5rem solid;
    border-color: darkred;
}

.sqr1-flex {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.sqr2-flex {
    flex-direction: row;
    align-items: flex-start;

}

.sqr2-yellow-flex {
    align-items: flex-end;
    justify-content: flex-end;
}

.sqr-blue-main {
    display: flex;
    width: 60%;
}

.sqr-blue-main-flex {
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
}